<ion-header>
  <ion-toolbar>
    <ion-title>Hello {{ user.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" (click)="logout()" color="danger" expand="block">Se déconnecter</ion-button>
  <ion-button size="large" (click)="goToSell()" color="primary" expand="block">Vendre</ion-button>
  <ion-button size="large" (click)="goToMySales()" color="secondary" expand="block">Mes Ventes</ion-button>
  <ion-button size="large" (click)="goToSearchSale()" color="warning" expand="block">Acheter</ion-button>
</ion-content>
